<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script defer src="https://kit.fontawesome.com/99d9cdac58.js" crossorigin="anonymous"></script>
  </head>

  <body></body>
</html>
